APP_URL=https://app.eeess.cyou
DATA_DIR=./data
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=change-me
INGEST_CRON_SECRET=change-me
AUTH_SECRET=change-me
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
